.matches-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-end;
    gap: 2rem;
    margin-bottom: 5rem;

  }
  .match-select{
    margin-bottom: 5rem;
}
  .hidden{
    display:none;
  }
  .game{
    min-height:600px;
  }