
.match{
   
    width:70px;
    height: 150px;
    background-image: url('../media/m1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.hidden{
    visibility: hidden;
}
@keyframes bgSlides {
    0% {
          background-image: url("../media/m1.png");
          box-shadow: none;
          visibility: visible;
          
    }
    20% {
          background-image: url("../media/m2.png");
          box-shadow: none;
    }
    
    35% {
      background-image: url("../media/m3.png");
      box-shadow: none;
    }
    
    55% {
      background-image: url("../media/m4.png");
      box-shadow: none;
    }
    
    65% {
      background-image: url("../media/m5.png");
      box-shadow: none;
    }
    80% {
      background-image: url("../media/m6.png");
      box-shadow: none;
    }
    100%{
      box-shadow:none;
    }
}

.start{
    width:70px;
    height: 150px;
    box-shadow: none;
    background-image: url('../media/m6.png');
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
    animation: bgSlides 1s  linear;
}
.match-select{
  box-shadow: 10px 5px 5px  rgb(49, 48, 48);
  border-radius: 25px;
    
}
.match:hover{
    width:80px;
    cursor: pointer;
  
}