
.match{
   
    width:70px;
    height: 150px;
    background-image: url('../media/m1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.hidden{
    visibility: hidden;
}
@keyframes bgSlides {
    0% {
          background-image: url("../media/m1.png");
          box-shadow: none;
          visibility: visible;
          
    }
    15% {
          background-image: url("../media/m2.png");
          box-shadow: none;
          visibility: visible;
    }
    
    31% {
      background-image: url("../media/m3.png");
      box-shadow: none;
      visibility: visible;
    }
    
    47% {
      background-image: url("../media/m4.png");
      box-shadow: none;
      visibility: visible;
    }
    
    64% {
      background-image: url("../media/m5.png");
      box-shadow: none;
      visibility: visible;
    }
    81% {
      background-image: url("../media/m6.png");
      box-shadow: none;
      visibility: visible;
    }
    100%{
      box-shadow:none;
      visibility: hidden;
      background-image: none;
      
    }
}

.start{
    width:70px;
    height: 150px;
    box-shadow: none;
    background-image: url('../media/m1.png');
    visibility: visible;
    background-size: contain;
    background-repeat: no-repeat;
    animation: bgSlides 1s ease-in-out forwards;
}
.match-select{
  box-shadow: 1px 1px 5px rgb(254 199 125);
  border-radius: 11px;
    
}
.match:hover{
    width:80px;
    cursor: pointer;
  
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .match, .start{
   
    width:40px;
    height: 80px;
  
}
.match:hover{
  width:50px;
}
}